<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766515453015-2guulofjjio0rict3jeduttvvqolv8so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766515453015-2guulofjjio0rict3jeduttvvqolv8so</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766515453015-amrr2u93v3u01lllk0qm86dqqsomr0q3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjq-IGMmPGdvN00I84xcVo_CRW2TIk3IM</string>
	<key>GCM_SENDER_ID</key>
	<string>766515453015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challenge.app</string>
	<key>PROJECT_ID</key>
	<string>desafio-v4rbkl</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-v4rbkl.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766515453015:ios:9644c4a9328f12e32f9712</string>
</dict>
</plist>